html{
  font-size: 2.0833333333vw;
}
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root{
  --gb-danger:"#d17277";
  --gb-warning:"#dfc184";
  --gb-primary:"#3a76ba";
  --gb-line:"#e3e5e7"
}
ul,li{
  margin: 0;
  padding: 0;
  list-style: none;
}
#root,html,body{
  height: 100%;
}